@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
    width: 0px;
}

/* body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    padding: 0;
}

.login-div {
    width: 430px;
    height: 100;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    border: 3px solid #0a0a0a;
}

.logo {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Bus-logo.svg/1200px-Bus-logo.svg.png");
    background-size: cover;
    width: 100px;
    border-radius: 50%;
    height: 100px;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 28px;
    padding-top: 24px;
    letter-spacing: 0.5px;
    color: white
}

.sub-title {
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
    letter-spacing: 3px;
}

.fields {
    width: 100%;
    padding: 75px 5px 5px 5px;
}

.fields input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: white;
    padding: 20px 10px 20px 5px;
}

.username,
.password {
    margin-bottom: 30px;
    border-radius: 25px;
    padding-left: 15px;
    border: 3px solid #0a0a0a;
}

.user-input,
.pass-input {
    caret-color: rgb(13, 12, 12);
}

.fields svg {
    height: 22px;
    margin: 0 10px -3px 25px;
}

.signin-button {
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-align: center;
    background: #E94413;
    transition: 0.5s;
}

.signin-button:hover {
    background: #2fdbb6;
}

.signin-button:active {
    background: #1da88a;
}

.link {
    padding-top: 20px;
    text-align: center;
}

.link a {
    text-decoration: none;
    color: #aaa;
    font-size: 15px;
} */